h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	font-weight: bolder;
	line-height: 1.5;
}

h2{
	font-size: 3rem;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

body{
	font-family: 'Montserrat', sans-serif;
}

p{
	color: #8f8f8f;
	font-family: 'Montserrat', sans-serif;
}

h3 {
	color: #8f8f8f;
	font-family: 'Montserrat', sans-serif;
}

/*Navigation bar*/

.navbar{
	padding: 0 0 1rem;
}

.navbar-brand{
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
}

.navbar-img{
	height: 10%;
	width: 10%;
	padding-right: 2%;
	position: relative;
}

.nav-item{
	padding: 0 18px;
}

.nav-link{
	font-size: 1.2rem;
}

/*Title Section*/

#title{
	background-color: #7FC9FB;
	color:#fff;
	position: relative;
}

.container-fluid{
	padding: 1% 15% 1%;
}

@media (max-width:1028px) {
	.nav-link{
		padding-top: 2%;
		text-align: right;
	}

	#title{
		text-align: center;
	}

	.title-image{
		padding: 10% 0;
		position: static;
		transform: rotate(0);
	}
}

/*Middle-section*/

#features{
	position: relative;
	z-index: 1;
	background-color: #fff;
	padding: 4%;
}

.middle-image{
	color:  #7FC9FB;
	font-size: 4rem;
	margin-bottom: 1rem;
}

.middle-image:hover{
	color:  #41ADF5;
}

.col-lg-4{
	text-align: center;
	padding: 5%; 
}

.middle-para{
	font-family: 'Montserrat';
	color: #8f8f8f;
}


/* details */

#details {
	background-color:  #fff;
}

#details h1{
	padding: 2%;
	font-family: 'Courgette', cursive;
	text-align: center;
	color: #41ADF5;
}

.details-para {
	padding: 3%;
	color: #8f8f8f;
	font-weight: bold;
	text-align: center;
}


/*ads*/

#carouselExampleControls{
	text-align: center;
	background-color:  #7FC9FB;
	color: #fff;
	padding-bottom: 0%;
	padding: 5%;
}

.caption-para {
	color: aqua;
}


/*Model-Farm-Image*/

#model-image{
	padding-top: 100px;
	text-align: center;
}

/* landmark */

#landmark {
	text-align: center;	
	padding: 3%;

}

.landmark {
	padding-bottom: 3%;
	font-weight: bold;
}

.contact {
	font-weight: bold;
	padding-top: 2%;
	text-align: center;
	font-size: 1.5rem;
}

/*Footer Section*/

#footer{
	background-color: #fff;
	text-align: center;
	font-weight: bold;
	padding: 2% 0 1%;
}

.footer-icon{
	padding: 0 1%;
}

.footer{
	padding: 2%;
}